############################################################################################################################
#               _               _        _          _          _              _             _            _           _      
#              /\ \            /\ \     /\ \       /\ \       /\ \           /\ \     _    /\ \         /\ \        /\ \    
#             /  \ \           \ \ \    \_\ \      \ \ \     /  \ \         /  \ \   /\_\ /  \ \       /  \ \      /  \ \   
#            / /\ \_\          /\ \_\   /\__ \     /\ \_\   / /\ \_\       / /\ \ \_/ / // /\ \ \     / /\ \ \    / /\ \ \  
#           / / /\/_/         / /\/_/  / /_ \ \   / /\/_/  / / /\/_/      / / /\ \___/ // / /\ \ \   / / /\ \_\  / / /\ \_\ 
#          / / / ______      / / /    / / /\ \ \ / / /    / / / ______   / / /  \/____// / /  \ \_\ / / /_/ / / / /_/_ \/_/ 
#         / / / /\_____\    / / /    / / /  \/_// / /    / / / /\_____\ / / /    / / // / /   / / // / /__\/ / / /____/\    
#        / / /  \/____ /   / / /    / / /      / / /    / / /  \/____ // / /    / / // / /   / / // / /_____/ / /\____\/    
#       / / /_____/ / /___/ / /__  / / /   ___/ / /__  / / /_____/ / // / /    / / // / /___/ / // / /\ \ \  / / /______    
#      / / /______\/ //\__\/_/___\/_/ /   /\__\/_/___\/ / /______\/ // / /    / / // / /____\/ // / /  \ \ \/ / /_______\   
#      \/___________/ \/_________/\_\/    \/_________/\/___________/ \/_/     \/_/ \/_________/ \/_/    \_\/\/__________/   
#                                                                                                                           
############################################################################################################################
*
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
.ssh/
!node-red/
.storage
.cloud
deps
image
media
.google.token 
eero.session
google_calendars.yaml
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
lutron_caseta_pro_192.168.7.231.json
options.xml
known_devices.yaml
pyozw.sqlite
secrets.yaml
service_account.json
zwcfg_0xd9ac4ba1.xml
zwscene.xml
zigbee.db